<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SWAT_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="SyntaxHighlighting" type="SWAT_Editor.Configuration.SyntaxHighlighting.SyntaxHighlightingSection, SWAT Editor" requirePermission="false"/>
	  <section name="UnsupportedAttributes" type="SWAT_Editor.Controls.Recorder.UnsupportedHTMLAttributes.UnsupportedHTMLAttributesSection, SWAT Editor" requirePermission="false"/>
	</configSections>
    <userSettings>
        <SWAT_Editor.Properties.Settings>
            <setting name="CustomSnippetDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbType" serializeAs="String">
                <value>MSSQL</value>
            </setting>
            <setting name="dbServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbUsr" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbQuery" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbShowColName" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="LoadBlankForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverrideTestBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestBrowserType" serializeAs="String">
                <value>safari</value>
            </setting>
            <setting name="AutosaveFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutosaveDirectory" serializeAs="String">
                <value>C:\SWAT\temporary</value>
            </setting>
            <setting name="AutosaveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="explorerDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="showIEAppMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UseAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExplorerChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExplorerCheckState" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="ShowResultsCheckState" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="ShowResultsChecked" serializeAs="String">
                <value>True</value>
            </setting>
        </SWAT_Editor.Properties.Settings>
    </userSettings>

	<SyntaxHighlighting>
		<patterns>
			<pattern expression="^#.*" color="Green"></pattern>
			
			<pattern expression="^![A-Za-z0-9]+" color="Blue"></pattern>			
			<pattern expression="(?&lt;=\!\|)[A-Za-z0-9 ]*(?=\|)" color="Orange" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)StimulateElement(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertElementExists(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)SetElementAttribute(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)OpenBrowser(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)CloseBrowser(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)NavigateBrowser(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AttachToWindow(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)SetWindowPosition(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)GetElementAttribute(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertElementDoesNotExist(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)ClickJSDialog(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertBrowserType(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)Sleep(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AbandonTest(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)SetWindowPosition(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)KillAllOpenBrowsers(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)SWAT(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)SWAT.Fitnesse(?=\|)" color="DarkRed" bold="true"></pattern>


			<!-- Database commands -->
			<pattern expression="(?&lt;=\|)ConnectToMssql(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)ConnectToOracle(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)SetDatabase(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)SetQuery(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertRecordCount(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertRecordValues(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertRecordValuesByColumnName(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)GetDbRecord(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)GetDbDate?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)GetDbRecordByColumnName(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)UpdateTable(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)InsertIntoTable(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)DeleteFromTable(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)Disconnect(?=\|)" color="DarkRed" bold="true"></pattern>
			
			<!-- Comparisons -->
			<pattern expression="(?&lt;=\|)AssertLessThan(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertGreaterThan(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertLessThanOrEqual(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertGreateThanOrEqual(?=\|)" color="DarkRed" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)AssertEqualTo(?=\|)" color="DarkRed" bold="true"></pattern>
      <pattern expression="(?&lt;=\|)AssertNotEqualTo(?=\|)" color="DarkRed" bold="true"></pattern>
			
			
			
			<pattern expression="(?&lt;=\|)Expression(?=\|)" color="Blue" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)id(?=\|)" color="Blue" bold="true"></pattern>
			<pattern expression="(?&lt;=\|)[A-Za-z0-9/:;\&lt;\&gt;\- \.,]*(?=\|)" color="Purple" bold="false"></pattern>
			
		</patterns>
	</SyntaxHighlighting>

	<!--Added to fix unsupported HTML element attributes in Assertion Window-->
	<UnsupportedAttributes>
		<Attributes>
			<attribute value="outerHTML"></attribute>
			<attribute value="outerText"></attribute>
			<attribute value="innerText"></attribute>
		</Attributes>
	</UnsupportedAttributes>
		
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
