<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestPageDirectory" value="file://C:/SWAT/trunk/SWAT.Tests/TestPages/" />
		<add key="TestFileDirWithoutMachineName" value="\c$\SWAT\trunk\SWAT.Tests\TestPages\files\"/>
		<add key="UserConfigDirectory" value="C:\SWAT\trunk\bin\Debug" />
		<add key="InvokeManagerBrowser" value="SWAT.WebBrowser"  />
		<add key="DoesElementExistTimeOut" value="5"/>
		<add key="FindElementTimeOut" value="15"/>
    <add key="SourceCodePath" value ="C:\SWAT\trunk\"/>
    <add key="DatabaseTestFiles" value="C:\SWAT\trunk\SWAT.Tests\Database\TestFiles\"/>
	</appSettings>
</configuration>