<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SWATMethodMappings" 
             type="SWAT.AbstractionEngine.Configuration.MethodMappings" />
	</configSections>

	<SWATMethodMappings WebBrowserAssembly="SWAT.dll" WebBrowserType="SWAT.WebBrowser">
		<Mappings>
			<addMethodMapping MethodName="NavigateBrowser" CommandName="NavigateBrowser" >
				<Parameters>
					<addMethodParameter ParameterName="url"  Index="0" Type="System.String" />
				</Parameters>
			</addMethodMapping>
			<addMethodMapping MethodName="OpenBrowser" CommandName="OpenBrowser" />
			<addMethodMapping MethodName="CloseBrowser" CommandName="CloseBrowser" />
			<addMethodMapping MethodName="DoesElementExist" CommandName="DoesElementExist">
				<Parameters>
					<addMethodParameter ParameterName="identType"  Index="0" Type="SWAT.IdentifierType, SWAT"></addMethodParameter>
					<addMethodParameter ParameterName="identifier"  Index="1" Type="System.String"></addMethodParameter>
				</Parameters>
			</addMethodMapping>
			<addMethodMapping MethodName="CloseJSDialog" Command="CloseJSDialog" >
				<Parameters>
					<addMethodParameter ParameterName="button"  Index="0" Type="SWAT.JScriptDialogButtonType, SWAT"></addMethodParameter>
				</Parameters>
			</addMethodMapping>
			<addMethodMapping  MethodName="Sleep" Command="Sleep">
				<Parameters>
					<addMethodParameter ParameterName="milliseconds" Index="0" Type="System.Int32" />
				</Parameters>
			</addMethodMapping>
			<addMethodMapping  MethodName="AttachToWindow" Command="AttachToWindow">
				<Parameters>
					<addMethodParameter ParameterName="windowTitle" Index="0" Type="System.Int32" />
				</Parameters>
			</addMethodMapping>
		</Mappings>
	</SWATMethodMappings>
	
</configuration>