<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="NormalizationSection" type="SWAT.Configuration.Normalization.NormalizationSection, SWAT.Core" requirePermission="false"/>
    <section name="WindowsKeyMappingSection" type="SWAT.Configuration.KeyMappingSection, SWAT.Core" requirePermission="false"/>
	<section name="MacKeyMappingSection" type="SWAT.Configuration.KeyMappingSection, SWAT.Core" requirePermission="false"/>
	<section name="AsciiMappingSection" type="SWAT.Configuration.AsciiMappingSection, SWAT.Core" requirePermission="false"/>
  </configSections>
  <appSettings file="SWAT.user.config">    
  </appSettings>
  <NormalizationSection>
    <NormalizationAttributes>
      <NormalizationAttribute attribute="disabled" normalizedAttribute="disabled"/>
      <NormalizationAttribute attribute="innerhtml" normalizedAttribute="innerHTML"/>
      <NormalizationAttribute attribute="id" normalizedAttribute="id"/>
      <NormalizationAttribute attribute="name" normalizedAttribute="name"/>
      <NormalizationAttribute attribute="outerhtml" normalizedAttribute="outerHTML"/>
      <NormalizationAttribute attribute="parentelement" normalizedAttribute="parentElement"/>
      <NormalizationAttribute attribute="canhavechildren" normalizedAttribute="canHaveChildren"/>
      <NormalizationAttribute attribute="canhavehtml" normalizedAttribute="canHaveHTML"/>
      <NormalizationAttribute attribute="checked" normalizedAttribute="checked"/>
      <NormalizationAttribute attribute="class" normalizedAttribute="className"/>
      <NormalizationAttribute attribute="class" normalizedAttribute="className"/>
      <NormalizationAttribute attribute="classname" normalizedAttribute="className"/>
      <NormalizationAttribute attribute="clientHeight" normalizedAttribute="clientHeight"/>
      <NormalizationAttribute attribute="clientLeft" normalizedAttribute="clientLeft"/>
      <NormalizationAttribute attribute="clientTop" normalizedAttribute="clientTop"/>
      <NormalizationAttribute attribute="clientWidth" normalizedAttribute="clientWidth"/>
      <NormalizationAttribute attribute="innertext" normalizedAttribute="innerText"/>
      <NormalizationAttribute attribute="iscontenteditable" normalizedAttribute="isContentEditable"/>
      <NormalizationAttribute attribute="isdisabled" normalizedAttribute="isDisabled"/>
      <NormalizationAttribute attribute="ismultiline" normalizedAttribute="isMultiLine"/>
      <NormalizationAttribute attribute="istextedit" normalizedAttribute="isTextEdit"/>
      <NormalizationAttribute attribute="length" normalizedAttribute="length"/>
      <NormalizationAttribute attribute="nodename" normalizedAttribute="nodeName"/>
      <NormalizationAttribute attribute="nodetype" normalizedAttribute="nodeType"/>
      <NormalizationAttribute attribute="offsetheight" normalizedAttribute="offsetHeight"/>
      <NormalizationAttribute attribute="offsetleft" normalizedAttribute="offsetLeft"/>
      <NormalizationAttribute attribute="offsettop" normalizedAttribute="offsetTop"/>
      <NormalizationAttribute attribute="offsetwidth" normalizedAttribute="offsetWidth"/>
      <NormalizationAttribute attribute="readystate" normalizedAttribute="readyState"/>
      <NormalizationAttribute attribute="scopename" normalizedAttribute="scopeName"/>
      <NormalizationAttribute attribute="scrollheight" normalizedAttribute="scrollHeight"/>
      <NormalizationAttribute attribute="scrollleft" normalizedAttribute="scrollLeft"/>
      <NormalizationAttribute attribute="scrolltop" normalizedAttribute="scrollTop"/>
      <NormalizationAttribute attribute="scrollwidth" normalizedAttribute="scrollWidth"/>
      <NormalizationAttribute attribute="selectedindex" normalizedAttribute="selectedIndex"/>
      <NormalizationAttribute attribute="sourceindex" normalizedAttribute="sourceIndex"/>
      <NormalizationAttribute attribute="tagname" normalizedAttribute="tagName"/>
      <NormalizationAttribute attribute="tagurn" normalizedAttribute="tagUrn"/>
      <NormalizationAttribute attribute="title" normalizedAttribute="title"/>
      <NormalizationAttribute attribute="type" normalizedAttribute="type"/>
      <NormalizationAttribute attribute="value" normalizedAttribute="value"/>
    </NormalizationAttributes>
  </NormalizationSection>
  <WindowsKeyMappingSection>
    <KeyboardCodes>
      <KeyboardCode codeName="BACKSPACE" codeValue="0x0008"/>
      <KeyboardCode codeName="TAB" codeValue="0x0009"/>
      <KeyboardCode codeName="ENTER" codeValue="0x000D"/>
      <KeyboardCode codeName="SHIFT" codeValue="0x0010"/>
      <KeyboardCode codeName="CONTROL" codeValue="0x0011"/>
      <KeyboardCode codeName="ALT" codeValue="0x0012"/>
      <KeyboardCode codeName="PAUSE" codeValue="0x0013"/>
      <KeyboardCode codeName="ESC" codeValue="0x001B"/>
      <KeyboardCode codeName="SPACEBAR" codeValue="0x0020"/>
      <KeyboardCode codeName="PAGE_UP" codeValue="0x0021"/>
      <KeyboardCode codeName="PAGE_DOWN" codeValue="0x0022"/>
      <KeyboardCode codeName="END" codeValue="0x0023"/>
      <KeyboardCode codeName="HOME" codeValue="0x0024"/>
      <KeyboardCode codeName="LEFT_ARROW" codeValue="0x0025"/>
      <KeyboardCode codeName="UP_ARROW" codeValue="0x0026"/>
      <KeyboardCode codeName="RIGHT_ARROW" codeValue="0x0027"/>
      <KeyboardCode codeName="DOWN_ARROW" codeValue="0x0028"/>
      <KeyboardCode codeName="PRNTSCRN" codeValue="0x002C"/>
      <KeyboardCode codeName="INSERT" codeValue="0x002D"/>
      <KeyboardCode codeName="DELETE" codeValue="0x002E"/>
      <KeyboardCode codeName="F1" codeValue="0x0070"/>
      <KeyboardCode codeName="F2" codeValue="0x0071"/>
      <KeyboardCode codeName="F3" codeValue="0x0072"/>
      <KeyboardCode codeName="F4" codeValue="0x0073"/>
      <KeyboardCode codeName="F5" codeValue="0x0074"/>
      <KeyboardCode codeName="F6" codeValue="0x0075"/>
      <KeyboardCode codeName="F7" codeValue="0x0076"/>
      <KeyboardCode codeName="F8" codeValue="0x0077"/>
      <KeyboardCode codeName="F9" codeValue="0x0078"/>
      <KeyboardCode codeName="F10" codeValue="0x0079"/>
      <KeyboardCode codeName="F11" codeValue="0x007A"/>
      <KeyboardCode codeName="F12" codeValue="0x007B"/>
      <KeyboardCode codeName="F13" codeValue="0x007C"/>
      <KeyboardCode codeName="F14" codeValue="0x007D"/>
      <KeyboardCode codeName="F15" codeValue="0x007E"/>
      <KeyboardCode codeName="F16" codeValue="0x007F"/>
      <KeyboardCode codeName="F17" codeValue="0x0080"/>
      <KeyboardCode codeName="F18" codeValue="0x0081"/>
      <KeyboardCode codeName="F19" codeValue="0x0082"/>
      <KeyboardCode codeName="F20" codeValue="0x0083"/>
      <KeyboardCode codeName="F21" codeValue="0x0084"/>
      <KeyboardCode codeName="F22" codeValue="0x0085"/>
      <KeyboardCode codeName="F23" codeValue="0x0086"/>
      <KeyboardCode codeName="F24" codeValue="0x0087"/>
    </KeyboardCodes>
  </WindowsKeyMappingSection>
  <MacKeyMappingSection>
	<KeyboardCodes>
	  <KeyboardCode codeName="BACKSPACE" codeValue="0x0033"/>
	  <KeyboardCode codeName="TAB" codeValue="0x0030"/>
	  <KeyboardCode codeName="ENTER" codeValue="0x0024"/>
	  <KeyboardCode codeName="ESC" codeValue="0x0035"/>
	  <KeyboardCode codeName="SPACEBAR" codeValue="0x0031"/>
	  <KeyboardCode codeName="PAGE_UP" codeValue="0x0074"/>
	  <KeyboardCode codeName="PAGE_DOWN" codeValue="0x0079"/>
	  <KeyboardCode codeName="END" codeValue="0x0077"/>
	  <KeyboardCode codeName="HOME" codeValue="0x0073"/>
	  <KeyboardCode codeName="LEFT_ARROW" codeValue="0x007B"/>
	  <KeyboardCode codeName="UP_ARROW" codeValue="0x007E"/>
	  <KeyboardCode codeName="RIGHT_ARROW" codeValue="0x007C"/>
	  <KeyboardCode codeName="DOWN_ARROW" codeValue="0x007D"/>
	  <KeyboardCode codeName="DELETE" codeValue="0x0075"/>
	  <KeyboardCode codeName="F1" codeValue="0x007A"/>
	  <KeyboardCode codeName="F2" codeValue="0x0078"/>
	  <KeyboardCode codeName="F3" codeValue="0x0063"/>
	  <KeyboardCode codeName="F4" codeValue="0x0076"/>
	  <KeyboardCode codeName="F5" codeValue="0x0060"/>
	  <KeyboardCode codeName="F6" codeValue="0x0061"/>
	  <KeyboardCode codeName="F7" codeValue="0x0062"/>
	</KeyboardCodes>
  </MacKeyMappingSection>
  <AsciiMappingSection>
	<AsciiCodes>
		<AsciiCode character="â" codeValue="131"/>
		<AsciiCode character="ä" codeValue="132"/>
		<AsciiCode character="à" codeValue="133"/>
		<AsciiCode character="á" codeValue="0225"/>
		<AsciiCode character="ã" codeValue="0227"/>
		<AsciiCode character="â" codeValue="0226"/>
		<AsciiCode character="å" codeValue="134"/>
		<AsciiCode character="ð" codeValue="0240"/>
		<AsciiCode character="æ" codeValue="145"/>
		<AsciiCode character="Æ" codeValue="146"/>
		<AsciiCode character="Ä" codeValue="142"/>
		<AsciiCode character="Å" codeValue="143"/>
		<AsciiCode character="À" codeValue="0192"/>
		<AsciiCode character="Á" codeValue="0193"/>
		<AsciiCode character="Â" codeValue="0194"/>
		<AsciiCode character="Ã" codeValue="0195"/>
		<AsciiCode character="ß" codeValue="0223"/>
		<AsciiCode character="Þ" codeValue="0222"/>
		<AsciiCode character="þ" codeValue="0254"/>
		<AsciiCode character="ç" codeValue="135"/>
		<AsciiCode character="Ç" codeValue="128"/>
		<AsciiCode character="œ" codeValue="0156"/>
		<AsciiCode character="Œ" codeValue="0140"/>
		<AsciiCode character="Ð" codeValue="0208"/>
		<AsciiCode character="ê" codeValue="136"/>
		<AsciiCode character="ë" codeValue="137"/>
		<AsciiCode character="è" codeValue="138"/>
		<AsciiCode character="é" codeValue="130"/>
		<AsciiCode character="È" codeValue="0200"/>
		<AsciiCode character="É" codeValue="144"/>
		<AsciiCode character="Ê" codeValue="0202"/>
		<AsciiCode character="Ë" codeValue="0203"/>
		<AsciiCode character="ï" codeValue="139"/>
		<AsciiCode character="î" codeValue="140"/>
		<AsciiCode character="ì" codeValue="141"/>
		<AsciiCode character="í" codeValue="161"/>
		<AsciiCode character="Î" codeValue="0206"/>
		<AsciiCode character="Ì" codeValue="0204"/>
		<AsciiCode character="Í" codeValue="0205"/>
		<AsciiCode character="Ï" codeValue="0207"/>
		<AsciiCode character="ñ" codeValue="164"/>
		<AsciiCode character="Ñ" codeValue="165"/>
		<AsciiCode character="ô" codeValue="147"/>
		<AsciiCode character="ö" codeValue="148"/>
		<AsciiCode character="ò" codeValue="149"/>
		<AsciiCode character="ó" codeValue="162"/>
		<AsciiCode character="õ" codeValue="0245"/>
		<AsciiCode character="ø" codeValue="0248"/>
		<AsciiCode character="Ø" codeValue="0216"/>
		<AsciiCode character="Ô" codeValue="0212"/>
		<AsciiCode character="Ö" codeValue="153"/>
		<AsciiCode character="Õ" codeValue="0213"/>
		<AsciiCode character="Ò" codeValue="0210"/>
		<AsciiCode character="Ó" codeValue="0211"/>
		<AsciiCode character="š" codeValue="0154"/>
		<AsciiCode character="Š" codeValue="0138"/>
		<AsciiCode character="û" codeValue="150"/>
		<AsciiCode character="ú" codeValue="163"/>
		<AsciiCode character="ù" codeValue="151"/>
		<AsciiCode character="ü" codeValue="129"/>
		<AsciiCode character="Ü" codeValue="154"/>
		<AsciiCode character="Ù" codeValue="0217"/>
		<AsciiCode character="Ú" codeValue="0218"/>
		<AsciiCode character="Û" codeValue="0219"/>
		<AsciiCode character="ÿ" codeValue="152"/>
		<AsciiCode character="ý" codeValue="0253"/>
		<AsciiCode character="Ÿ" codeValue="0159"/>
		<AsciiCode character="Ý" codeValue="0221"/>
		<AsciiCode character="ž" codeValue="0158"/>
		<AsciiCode character="Ž" codeValue="0142"/>
		<AsciiCode character="£" codeValue="156"/>
		<AsciiCode character="¥" codeValue="157"/>
		<AsciiCode character="€" codeValue="0128"/>
		<AsciiCode character="¢" codeValue="0162"/>
		<AsciiCode character="ƒ" codeValue="159"/>
		<AsciiCode character="º" codeValue="167"/>
		<AsciiCode character="¿" codeValue="168"/>
		<AsciiCode character="¡" codeValue="0161"/>
		<AsciiCode character="«" codeValue="0171"/>
		<AsciiCode character="»" codeValue="0187"/>
		<AsciiCode character="‘" codeValue="0145"/>
		<AsciiCode character="’" codeValue="0146"/>
		<AsciiCode character="“" codeValue="0147"/>
		<AsciiCode character="”" codeValue="0148"/>
	</AsciiCodes>
  </AsciiMappingSection>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
